<a href="https://colab.research.google.com/github/chaitykundu/Python/blob/main/if_else_stat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Conditions and If statements

In [ ]:
a = 200
b = 200
if b>a:
  print ("b is greater than a")
elif b==a:
  print("b is equal to a")
else:
  print("b is not greater than a")

b is equal to a

In [ ]:
##AND

a = 56
b = 90
c = 8
if a<b and b>c:
  print("Conditions are True")
else:
  print("Conditions are False")

##OR
if b>c or c>a:
  print("One of them is true")

##Not
if not a>b:
  print("false")

Conditions are True
One of them is true
false

## Python Match

In [ ]:
day = 5
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Friday

In [ ]:
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May

In [ ]:
#range
for x in range(2, 6):
  print(x)

for y in range(2, 20, 4):
  print(y)

2
3
4
5
2
6
10
14
18

In [ ]:
#for_else
for x in range(4):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
Finally finished!

In [ ]:
#nested loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry