<a href="https://colab.research.google.com/github/chaitykundu/Python/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python List:**
Lists are used to store multiple items in a single variable.
Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.Lists are created using square brackets
##There are four collection data types in the Python programming language:
1.List is a collection which is ordered and changeable. Allows duplicate members.
2.Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3.Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
4.Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
myList1 = ["Java", "Python", "PHP"]
myList2 = [45, 67,0,90.0]
myList3 = [True, False, True]
print(myList1)
print(myList2)
print(myList3)

print(len(myList1)) #Lenght of the Lists
print(myList1[2])
print(myList2[-1]) #Negative Indexing
print(myList2[1:4])
print(myList1[:2]) #Ranging
print(myList2[3:])

#data type of list
print(type(myList1))
print(type(myList2))

#list() constructor
Chart =list(('book', 'pen', 'copy'))
print(Chart)

['Java', 'Python', 'PHP']
[45, 67, 0, 90.0]
[True, False, True]
3
PHP
90.0
[67, 0, 90.0]
['Java', 'Python']
[90.0]
<class 'list'>
<class 'list'>
['book', 'pen', 'copy']

In [ ]:
#Check a program that fruits available or not

Fruits = ['Apple', 'Orange', 'Grapes', 'Mango']
if "Orange" in Fruits:
  print("Yes! Orange is in it.")
else:
  print("No! Orange is not in it.")

Yes! Orange is in it.

In [ ]:
#Change List Item
myList1 = ["Java", "Python","DBMS", "PHP",]
myList1[2] = "C++"
myList1[1:3] = "HTML", "CSS"
#print(myList1)
print(myList1)

#Insert Item
List = ["bool","int","float","str"]
List.insert(3, "double")
print(List)

['Java', 'HTML', 'CSS', 'PHP']
['bool', 'int', 'float', 'double', 'str']

In [ ]:
#Append Item
List = ["bool","int","float","str"]
List2 = ["True", 6, 90.3, "Python"]
List3 = ("True", 6, 90.3, "Python")
List.append("double")
print(List)

#Extend Item
#List.extend(List2)
#print(List)
List.extend(List3)
print(List)

['bool', 'int', 'float', 'str', 'double']
['bool', 'int', 'float', 'str', 'double', 'True', 6, 90.3, 'Python']

In [ ]:
#Remove Item
list = ["apple", "banana", "cherry",90]
list.remove("apple")
list.pop(2)
list.pop() #pop only last item
del list[2]
list.clear()
print(list)

[]

In [ ]:
#Looping in list

Fruits = ['Apple', 'Orange', 'Grapes', 'Mango']
for i in Fruits:
  print(i)
#Index Number
for i in range(len(Fruits)):
  print(i)

Apple
Orange
Grapes
Mango
0
1
2
3

In [ ]:
#while Loop
Fruits = ['Apple', 'Orange', 'Grapes', 'Mango']
i =0
while i < len(Fruits):
  print(Fruits[i])
  i= i+1

Apple
Orange
Grapes
Mango

In [ ]:
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

In [ ]:
#List Comprension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#Sort List
Fruits = ['Apple', 'Orange', 'Grapes', 'Mango']
Num = [200, 40, 500, 65, -2]
#Fruits.sort() #sorting alphanumerically

Fruits.sort(reverse=True)  #Sort by descending
Num.sort()
print(Fruits)
print(Num)

['Orange', 'Mango', 'Grapes', 'Apple']
[-2, 40, 65, 200, 500]

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]

In [ ]:
#case insensative sort
Fruits = ['apple', 'Orange', 'grapes', 'Mango']
#Fruits.sort()
#Fruits.sort(key = str.lower)
#Fruits.reverse()
List = Fruits.copy()
print(List)

['apple', 'Orange', 'grapes', 'Mango']

In [ ]:
#List Joining

Fruits = ['Apple', 'Orange', 'Grapes', 'Mango']
Num = [200, 40, 500, 65,]
#Final = Fruits + Num
#Fruits.extend(Num) #extend list
for i in Fruits:
  Num.append(i) #Append list

print(Num)

[200, 40, 500, 65, 'Apple', 'Orange', 'Grapes', 'Mango']