<a href="https://colab.research.google.com/github/chaitykundu/Python/blob/main/modules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python** **Modules** Consider a module to be the same as a code library.

A file containing a set of functions you want to include in your application.

In [ ]:
def msg(name):
  print("Hii " + name)
msg("Chaity")

Hii Chaity

In [ ]:
import datetime
y = datetime.datetime.now()
x= datetime.datetime(2024, 8, 15)
print(y)
print(y.year)
print(x)
#month name b=short, B= full
print(x.strftime("%b"))

2025-05-12 17:42:57.852605
2025
2024-08-15 00:00:00
Aug

### Python Math

In [ ]:
a= min(10, -5, 0)
print(a)
b= max(10, -5, 0)
print(b)

import math
x =math.sqrt(100)
print(x)

-5
10
10.0

In [ ]:
import math

x = math.ceil(2.4)
y = math.floor(2.4)

print(x) # returns 2 = upwards
print(y) # returns 1 = downwards

3
2

In [ ]:
import re

#Return a list containing every occurrence of "in":

txt = "The rain in Spain"
x = re.findall("in", txt)
print(x)

['in', 'in', 'in']

In [ ]:
#re= Regular Expression
import re
msg = "Welcome to Python"
x=re.findall("b", msg)
print(x)
if (x):
  print("Yes")
else:
  print("no match")

[]
no match