<a href="https://colab.research.google.com/github/chaitykundu/Python/blob/main/Tuple_set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Python Tuple:**A tuple is a collection which is ordered and unchangeable. It starts with round brackets().

In [ ]:
#create tuple
tupleList = ('Fish', 'Vegetable', 'Fruit')
print(tupleList)
print(len(tupleList))

tuple2 = ("mili",67,"jui",90,True)
print(tuple2)
print(type(tuple2))
print(tuple2[2])

('Fish', 'Vegetable', 'Fruit')
3
('mili', 67, 'jui', 90, True)
<class 'tuple'>
jui

In [ ]:
#update tuple
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
#multiply tuple
fruits = ("apple", "banana", "cherry","apple")
mytuple = fruits * 3

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'apple', 'banana', 'cherry', 'apple', 'apple', 'banana', 'cherry', 'apple')

## Python Set : A set is a collection which is unordered, unchangeable*, and unindexed. It starts with a curly brackets {}.

In [ ]:
fruits = {"apple", "banana", "cherry"}
x = {"apple", "banana", "cherry","apple",True, 1,2} #set doesn't support repeated value and True & 1 is considered the same value
print(x)
print(fruits)
print(len(x))  #length
print(type(x)) #type

{'banana', True, 2, 'apple', 'cherry'}
{'banana', 'cherry', 'apple'}
5
<class 'set'>

In [ ]:
#add item
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'mango', 'apple', 'papaya', 'pineapple', 'cherry'}

In [ ]:
#remove a random item
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

#set3 = set1.symmetric_difference(set2)
set3 = set1 ^ set2
print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

## Python Dictonaries: Dictionaries are used to store data values in key:value pairs.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])
print(len(thisdict))
print(type(thisdict))
thisdict1 = dict(name = "John", age = 36, country = "Norway")
print(thisdict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
3
<class 'dict'>
{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#dict["year"] = 2018
dict.update({"year": 2025})
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2025}

In [ ]:
#nested loop

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}